Repository arpit2412/g8-serp2021, pull requests merged in 2021-06, with the labels that each got.

#9 Random Forest Code Complete
  Meeting Minutes/~$eting minutes_28.05.2021.docx
  Poster_replication/Code/RandomForest.py
Labels: code

#15 Fixed Random Forest Method
  Poster_replication/Code/RandomForest.py
  README.md
Labels: bug, code

#16 Upload Summary 1&2
  Paper Replication Attempt Results/POSTER Vulnerability Discovery with Function Representation Learning from Unlabeled Projects/Summary of  Attempt 1.pdf
  Paper Replication Attempt Results/POSTER Vulnerability Discovery with Function Representation Learning from Unlabeled Projects/Summary of  Attempt 2.pdf
  Poster_replication/Code/RandomForest.py
  Poster_replication/Data/Validation/Raw_Data_Code_Metric_by_Understand.csv
  Poster_replication/Data/Validation/ValidationDataset.zip
Labels: data, reports

#18 Adjust RandomForest.py
  Paper Replication Attempt Results/POSTER Vulnerability Discovery with Function Representation Learning from Unlabeled Projects/Summary of  Attempt 3.pdf
  Poster_replication/Code/RandomForest.py
Labels: bug, code, data

#20 Fan
  Paper Replication Attempt Results/POSTER Vulnerability Discovery with Function Representation Learning from Unlabeled Projects/Summary of  Attempt 3.pdf
  Poster_replication/Code/LSTM.py
  Poster_replication/Code/ProcessCFilesWithCodeSensor.py
Labels: code, data, documentation, reports

#21 Code modify, add comments and progress bar to every file
  Poster_replication/Code/BlurProjectSpecific.py
  Poster_replication/Code/LSTM.py
  Poster_replication/Code/ProcessCFilesWithCodeSensor.py
  Poster_replication/Code/ProcessRawASTs_DFT.py
  Poster_replication/Code/RandomForest.py
Labels: code, documentation
